@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

/* CSS Reset */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  /* transition: all 0.4s ease-in-out; */
}

body {
  font-family: Montserrat;
  min-height: 100vh;
  overflow-x: hidden;
  background-color: white;
}

/* Main Container */
.container {
  max-width: 1200px;
  margin: 0 auto;
}

/* Header Styles */
header {
  background-color: #202020;
  width: 100vw;
  padding: 0;
  position: sticky;
  z-index: 5;
  top: 0;
}

/* Contact Details */
header .contact-details {
  background-color: #202020;
  color: #fff;
  padding-top: 8px;
}

header .contact-details .container {
  display: flex;
  font-size: 0.9rem;
  margin: 0 auto;
  text-align: center;
  justify-content: center;
  align-items: center;
  gap: 3em;
}

header .whatsapp a {
  text-decoration: none;
  color: rgb(29, 174, 82);
  font-size: 2em;
}

header i {
  margin-right: 0.5em;
}
/* Navigation */

header .nav .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

header .nav .logo {
  font-weight: bold;
  font-size: 1.5rem;
}

header .nav ul {
  list-style: none;
  display: flex;
  flex-wrap: wrap;
  position: relative;
  right: 4rem;
}

header .nav ul li {
  margin-left: 20px;
}

/* Language Picker */
header .nav .lang-picker {
  color: white;
}

header .nav .lang-picker b {
  color: #f06292;
}

header .nav .lang-picker img {
  max-width: 100%;
  height: 100%;
  border-radius: 50%;
  object-fit: cover;
}

header .nav ul li a {
  text-decoration: none;
  color: white;
  transition: color 0.3s ease;
} 

header .nav ul li a:hover {
  color: #f06292;
}

header .nav .mobile {
  color: white;
  font-size: 2em;
  display: none;
}


/* Hero Section */
.hero {
  width: 100vw;
  height: 65vh;
  background: url('bg.jpeg') center center/cover;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  position: relative;
}

.hero::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  z-index: 1;
}

.hero-content {
  position: relative;
  z-index: 2;
  text-align: center;
  bottom: 3rem;
}

.hero h1 {
  font-size: 3rem;
  margin-bottom: 10px;
}

.hero p {
  font-size: 1.2rem;
  margin-bottom: 20px;
  opacity: 0;
}

.hero h1 {
  animation: fadeLeft 1s ease-in-out;
}

@keyframes fadeLeft {
  from {
    transform: translateX(-150%);
    opacity: 0;
  }
  to {
    transform: translateX(0);
    opacity: 1;
  }
}

.hero p {
  animation: fadeRight 1s ease-in-out 500ms forwards;
}

@keyframes fadeRight {
  from {
    transform: translateX(150%);
    opacity: 0;
  }
  to {
    transform: translateX(0);
    opacity: 1;
  }
}
/* Date-Time Picker Form */
.search-form {
  color: black;
  display: flex;
  justify-content: space-evenly;
  /* align-items: center; */
  position: relative;
  top: 4rem;
  opacity: 0;
  background-color: rgb(206, 206, 206);
  padding: 2em;
  border-radius: 16px;
}

.search-form input {
  background-color: rgb(206, 206, 206);
}
.search-form {
  animation: fadeBottom 1s ease-in-out 1s forwards;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1), 
            0 8px 15px rgba(0, 0, 0, 0.1), 
            0 12px 20px rgba(0, 0, 0, 0.15), 
            0 18px 30px rgba(0, 0, 0, 0.2), 
            0 25px 40px rgba(0, 0, 0, 0.3);
}

@keyframes fadeBottom {
  from {
    transform: translateY(150%);
    opacity: 0;
  }
  to {
    transform: translateY(0);
    opacity: 1;
  }
}

.date-time-picker {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.date-time-picker label {
  margin-bottom: 5px;
  font-size: 1rem;
}

.date-time-picker input {
  padding: 10px;
  border: 1px solid #999;
  border-radius: 5px;
  font-size: 1rem;
  width: 200px; /* Set a fixed width */
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1), 
            0 8px 15px rgba(0, 0, 0, 0.1), 
            0 12px 20px rgba(0, 0, 0, 0.15), 
            0 18px 30px rgba(0, 0, 0, 0.2), 
            0 25px 40px rgba(0, 0, 0, 0.3);
}

.search-button {
  padding: 10px;
  width: 150px;
  background-color: #f06292;
  font-family: Montserrat, sans-serif;
  border: none;
  color: black;
  font-weight: bold;
  letter-spacing: 1px;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
  align-self: end;
  height: 3.1em;
}

.search-button:hover {
  background-color: #c2185b;
}

/* Features Section */
.features {
  padding: 50px 0;
  background-color: #f2f2f2;
  text-align: center;
}

.features h2 {
  font-size: 2.5rem;
  margin-bottom: 30px;
}

.feature-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 20px;
}

.feature-item {
  background: white;
  border-radius: 10px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
  padding: 20px;
  flex: 1 1 200px;
  max-width: 300px;
}

.feature-item h3 {
  font-size: 1.5rem;
  margin-bottom: 10px;
}

.feature-item p {
  font-size: 1rem;
}

.reasons {
  position: relative;
  padding: 50px;
  background-color: white;
  background-size: cover;
  background-position: 0 70%;
  color: white;
}

.section-header {
  text-align: center;
  margin-bottom: 30px;
  font-size: 2em;
}

.section-header h2 {
  position: relative;
  z-index: 2;
  text-align: center;
  padding: 1rem;
  font-weight: bold;
  font-size: 1em;
  letter-spacing: 3px;
  text-transform: uppercase;
  color: #f06292;
}

.card-container {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}

.reason-card {
  min-width: 250px;
  max-width: 330px;
  height: 400px;
  padding: 20px;
  border: 1px solid white;
  border-radius: 10px;
  color: white;
  background: url('ugovor.png');
  background-size: cover;
  background-position: 0 40%;
  z-index: 2;
  line-height: 1.6;
  position: relative;
}

.reason-card h3 {
  margin-bottom: 10px;
  font-size: 1em;
  color: #f06292;
  font-weight: bold;
  font-size: 1em;
  letter-spacing: 3px;
  text-transform: uppercase;
}

.reason-card p {
  font-size: 1em;
}

.reason-card img {
  width: 200px;
  position: absolute;
  bottom: 0;
  right: 0;
}
#reasons-2 {
  padding: 50px;
  background-color: #f9f9f9;
}

.section-header-2 {
  text-align: center;
  margin-bottom: 30px;
  font-size: 2em;
}

.card-container-2 {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 20px;
}

.reason-card-2 {
  background-color: rgb(212, 212, 212);
  padding: 20px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  border-radius: 10px;
}

.reason-card-2 h3 {
  margin-bottom: 10px;
  font-size: 2em;
}

.reason-card-2 p {
  font-size: 1em;
  color: #555;
}

#vehicles h2 {
  text-align: center;
  padding: 1rem;
  font-weight: bold;
  font-size: 2em;
  letter-spacing: 3px;
  text-transform: uppercase;
  color: #f06292;
}

#vehicles {
  margin: 6em auto 0;

}

#vehicles .cards {
  display: flex;
  justify-content: center;
  gap: 20px;
}

#vehicles .card {
  display: flex;
  flex-direction: column;
  background-color: white;
  color: #000;  
  width: 250px;
  border-radius: 8px;
  padding: 8px;
  text-align: center;
}

#vehicles .card h4 {
  font-size: 1em;
  text-align: center;

}
#vehicles .card img {
  width: 100%;
}

#vehicles button {
  display: block;
  width: 20%;
  background-color: #f06292;
  border-radius: 8px;
  border-width: 0;
  color: white;
  cursor: pointer;
  font-family: Montserrat, sans-serif;
  font-size: 14px;
  font-weight: 500;
  line-height: 20px;
  list-style: none;
  margin: 1em auto 2em auto;
  padding: 10px 12px;
  text-align: center;
  transition: all 200ms;
  white-space: nowrap;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
}

#vehicles .card button:hover {
  background-color: #f06292;
  color: white;
}
.conditions {
  text-align: center;
}

.longterm {
  background: rgb(0,0,0);
  background: linear-gradient(90deg, rgba(0,0,0,1) 0%, rgba(204,204,204,1) 50%, rgba(0,0,0,1) 100%);
  background-image: url('kodiaq.png');
  background-position: 0% 60%;
  height: 70vh;
  width: 90vw;
  background-size: cover;
  max-width: 1400px;
  margin: 0 auto;
  border-radius: 16px;
  padding: 2rem;
  color: white;
  font-weight: bold;
  font-size: 1.5em;
  letter-spacing: 3px;
  position: relative;
  top: 3em;
}

.longterm h2 {
  text-transform: uppercase;
  color: #f06292;
}

.longterm p {
  font-size: 1rem;
  letter-spacing: 0;
  font-weight: 400;
  width: 400px;
  margin-top: 1em;
  line-height: 1.6;
}

.longterm button {
  position: relative;
  top: 3em;
  font-family: Montserrat, sans-serif;
  margin-top: 1em;
  padding: 1em 2em;
  background-color: #f06292;
  border: none;
  color: black;
  font-weight: bold;
  letter-spacing: 1px;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
  width: fit-content;
  text-decoration: none;
}

.hotel-promo {
  background: url('lounge.png');
  background-position: 0% 60%;
  height: 50vh;
  background-size: cover;
  position: relative;
  padding: 2em 20em;
}

.hotel-promo::after {
  content: '';
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.40);
}

.hotel-promo span {
  color: #f06292;
  font-weight: bold;
}

.hotel-promo a {
  display: block;
  margin-top: 1em;
  padding: 1em 2em;
  background-color: #f06292;
  border: none;
  font-size: 0.85em;
  color: black;
  font-weight: bold;
  letter-spacing: 1px;
  border-radius: 8px;
  cursor: pointer;
  transition: background-color 0.3s ease;
  width: fit-content;
  text-decoration: none;
}

.scrolling {
  height: 50vh;
  background-color: black;
  color: white;
}

.hotel-promo h2, .hotel-promo p, .hotel-promo a {
  position: relative;
  color: white;
  z-index: 3;
}

.hotel-promo h2 {
  line-height: 1.6;
  letter-spacing: 1px;
  text-transform: uppercase;
}

#divider {
  position: relative;
  top: 6em;
}

.news {
  background-color: #202020;
}

.news-container {
  width: 100vw;
  margin: 0 auto;
  padding: 3rem;
  display: flex;
  justify-content: center;
  gap: 2em;
  color: white;
}

.news h2 {
  text-align: center;
  font-weight: bold;
  font-size: 2.5em;
  letter-spacing: 7px;
  text-transform: uppercase;
  color: #f06292;
  border-radius: 0.5em;
  display: block;
  width: fit-content;
  margin: 0 auto;
  padding-top: 1em;
}

.news h3 {
  color: white;
  font-weight: 400;
}

.news .headline {
  text-align: center;
}

.news-container .card {
  width: 450px;
}

.news-container .card img {
  width: 100%;
  height: 300px;
  object-fit: cover;
  display: block;
  margin-bottom: 1em;
  border-radius: 16px;
}

.news-container .content h3 {
  color: #f06292;
  letter-spacing: 1px;
  text-transform: uppercase;
  margin-bottom: 1em;
  margin-top: 2em;
}

.news-container a {
  display: block;
  margin-top: 1em;
  padding: 1em 2em;
  background-color: #f06292;
  border: none;
  font-size: 0.85em;
  color: black;
  font-weight: bold;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
  width: fit-content;
  text-decoration: none;
}

footer {
  background-color: #202020;
  color: white;
  padding: 2em;
  font-size: 0.9em;
  font-weight: 400;
}

footer .container {
  display: flex;
  justify-content: center;
}

footer h2 {
  color: #f06292;
  font-weight: 400;
}
footer .card {
  display: flex;
  gap: 2em;
  padding: 2em;
  border-right: 1px solid gray;
}

footer .card:last-child {
  border: none;
}

footer .card i {
  font-size: 2em;
}

footer .support {
  font-size: 1em;
}

footer .support hr {
  margin: 1em 0;
}

footer h3 {
  max-width: 250px;
  font-weight: 400;
}

footer .contact h2 {
  margin-bottom: 1em;
}

footer .contact h3 {
  margin-bottom: 1em;
}

footer .supports {
  margin: 1em;
  text-align: center;
  font-size: 1.5em;
}

footer .icons {
  margin: 1em auto;
  text-align: center;
  font-size: 1.2em;
  display: flex;
  justify-content: center;
  gap: 2em;
}

footer .icons i {
  font-size: 1.5em;
}

footer .icons a {
  text-decoration: none;
  color: #f06292;
}

@media screen and (max-width: 900px) {
  html {
    font-size: 14px; /* Adjust font size for better readability */
  }

  /* Hide contact details on mobile */
  .contact-details {
    display: none;
  }

  header {
    position: relative;
    padding: 1em; /* Add some padding for better touch targets */
  }

  header .nav ul {
    display: block;
    width: 80%; /* Make the nav full-width */
    height: auto; /* Adjust height for mobile */
    background-color: #202020;
    position: absolute;
    top: 0;
    left: 0;
    transform: translateX(-100%);
    transition: transform 0.3s ease; /* Smooth transition */
  }

  header .nav ul.active {
    transform: translateX(0);
  }

  header .nav ul li {
    padding: 1.5em; /* Adjust padding for touch targets */
    font-size: 1.1em; /* Slightly increase font size for better readability */
  }

  header .nav .mobile {
    display: block;
    margin-left: 20px;
  }

  .hero {
    background-position: 70% 90%;
  }
  .hero-content h1 {
    font-size: 1.5em;
  }

  .hero-content p {
    font-size: 1em;
    width: 80%;
    text-align: center;
    margin: 0 auto;
  }

  .hero .search-form {
    flex-direction: column;
    padding: 1em; /* Add padding to form */
    width: 90%;
    margin: 0 auto;
    gap: 2em;
  }

  .search-form input,
  .search-button {
    width: 100%; /* Make inputs full-width */
  }

  .longterm {
    width: 90%;
    height: 40vh;
    background-position: 40%;
  }

  .longterm h2 {
    font-size: 1.2em;
  }

  .longterm p {
    margin: 0 auto;
    width: 100%;
  }

  .longterm button {
    top: 5em;
  }
  .hotel-promo {
    width: 100%;
    text-align: center;
    height: 25vh;
    position: relative;
  }

  .hotel-promo h2 {
    width: 55%;
    margin: 0 auto;
    font-size: 1.1em;
  }

  .hotel-promo p {
    width: 60%;
    margin: 1em auto;
    text-align: center;
    font-size: 0.8em;
  }

  .hotel-promo a {
    display: block;
    margin: 0 auto;
    padding: 1em 0;
    width: 90%;
    position: absolute;
    bottom: 1em;

  }

  .reasons h2 {
    font-size: 0.9em;
    width: 100%;
    padding: 0;
  }
  .reason-card {
    width: 90%; /* Make reason cards responsive */
    height: 30vh;
    background-position: 50% 0;
  }

  .reasons .card-container {
    gap: 2em;
  }

  #vehicles .cards {
    flex-direction: column;
  }
  #vehicles .card {
    width: 90%; /* Make vehicle cards responsive */
  }

  #vehicles button {
    width: 90%;
    font-size: 0.8em;
    font-weight: bold;
  }

  footer {
    flex-direction: column; /* Stack footer items */
    text-align: center; /* Center align footer text */
  }

  footer .card {
    border-right: none; /* Remove border for single column */
    margin-bottom: 1em; /* Add space between cards */
  }

  .hotel-promo {
    padding: 1em; /* Reduce padding for mobile */
    text-align: center; /* Center align text */
  }

  .longterm {
    padding: 2em 1em; /* Adjust padding for mobile */
  }

  .news-container {
    flex-direction: column;
  }

  .news .card {
    width: 100%;
    text-align: center;
  }

  .news img {
    max-width: 80%;
    height: auto;
    display: block;
    margin: 0 auto;
  }

  footer .container {
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  footer .card {
    align-items: center;
  }
  footer .icons {
    flex-direction: column;
  }

  footer .icons i {
    font-size: 4em;
  }
}