@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

/* CSS Reset */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  transition: all 0.4s ease-in-out;
}

body {
  font-family: Montserrat;
  min-height: 100vh; /* Ensure body covers at least full height */
  overflow-x: hidden;
  background-color: white;
}

/* Main Container */
.container {
  max-width: 1200px;
  margin: 0 auto;
}

/* Header Styles */
header {
  background-color: #202020;
  width: 100vw;
  padding: 0;
  position: sticky;
  z-index: 5;
  top: 0;
}

/* Contact Details */
header .contact-details {
  background-color: #202020;
  color: #fff;
  padding-top: 8px;
}

header .contact-details .container {
  display: flex;
  font-size: 0.9rem;
  margin: 0 auto;
  text-align: center;
  justify-content: center;
  align-items: center;
  gap: 3em;
}

header .whatsapp a {
  text-decoration: none;
  color: rgb(29, 174, 82);
  font-size: 2em;
}

header i {
  margin-right: 0.5em;
}
/* Navigation */

header .nav .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
}

header .nav .logo {
  font-weight: bold;
  font-size: 1.5rem;
}

header .nav ul {
  list-style: none;
  display: flex;
  flex-wrap: wrap;
  position: relative;
  right: 4rem;
}

header .nav ul li {
  margin-left: 20px;
}

/* Language Picker */
header .nav .lang-picker {
  color: white;
}

header .nav .lang-picker b {
  color: #f06292;
}

header .nav .lang-picker img {
  width: 100%;
  height: 100%;
  border-radius: 50%;
  object-fit: cover;
}

header .nav ul li a {
  text-decoration: none;
  color: white;
  transition: color 0.3s ease;
} 

header .nav ul li a:hover {
  color: #f06292;
}


/* Hero Section */
.hero {
  width: 100vw;
  height: 65vh;
  background: url('bg.jpeg') center center/cover;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  position: relative;
}

.hero::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  z-index: 1;
}

.hero-content {
  position: relative;
  z-index: 2;
  text-align: center;
  bottom: 3rem;
}

.hero h1 {
  font-size: 3rem;
  margin-bottom: 10px;
}

.hero p {
  font-size: 1.2rem;
  margin-bottom: 20px;
  opacity: 0;
}

.hero h1 {
  animation: fadeLeft 1s ease-in-out;
}

@keyframes fadeLeft {
  from {
    transform: translateX(-150%);
    opacity: 0;
  }
  to {
    transform: translateX(0);
    opacity: 1;
  }
}

.hero p {
  animation: fadeRight 1s ease-in-out 500ms forwards;
}

@keyframes fadeRight {
  from {
    transform: translateX(150%);
    opacity: 0;
  }
  to {
    transform: translateX(0);
    opacity: 1;
  }
}
/* Date-Time Picker Form */
.search-form {
  color: black;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  position: relative;
  top: 4rem;
  opacity: 0;
  background-color: rgb(206, 206, 206);
  padding: 2em;
  border-radius: 16px;
}

.search-form input {
  background-color: rgb(206, 206, 206);
}
.search-form {
  animation: fadeBottom 1s ease-in-out 1s forwards;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1), 
            0 8px 15px rgba(0, 0, 0, 0.1), 
            0 12px 20px rgba(0, 0, 0, 0.15), 
            0 18px 30px rgba(0, 0, 0, 0.2), 
            0 25px 40px rgba(0, 0, 0, 0.3);
}

@keyframes fadeBottom {
  from {
    transform: translateY(150%);
    opacity: 0;
  }
  to {
    transform: translateY(0);
    opacity: 1;
  }
}

.date-time-picker {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.date-time-picker label {
  margin-bottom: 5px;
  font-size: 1rem;
}

.date-time-picker input {
  padding: 10px;
  border: 1px solid #999;
  border-radius: 5px;
  font-size: 1rem;
  width: 200px; /* Set a fixed width */
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1), 
            0 8px 15px rgba(0, 0, 0, 0.1), 
            0 12px 20px rgba(0, 0, 0, 0.15), 
            0 18px 30px rgba(0, 0, 0, 0.2), 
            0 25px 40px rgba(0, 0, 0, 0.3);
}

.search-button {
  padding: 10px;
  width: 150px;
  background-color: #f06292;
  font-family: Montserrat, sans-serif;
  border: none;
  color: black;
  font-weight: bold;
  letter-spacing: 1px;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
  align-self: end;
  height: 3.1em;
}

.search-button:hover {
  background-color: #c2185b;
}

/* Carousel Section */
.carousel {
  background-color: white;
}

.carousel h2 {
  margin-bottom: 2em;
  text-align: center;
  padding: 1rem;
  font-weight: bold;
  font-size: 2em;
  letter-spacing: 3px;
  text-transform: uppercase;
  color: #f06292;
}
.carousel-container {
  display: flex;
  justify-content: center;
  gap: 32px;
}

.carousel-container:hover {
  animation-play-state: paused;
}

.carousel-card {
  color: black;
  border-radius: 8px;
  display: flex;
  flex-direction: column;
  width: 300px;
}

.carousel-card img {
  width: 300px;
  height: 200px;
  border-top-right-radius: 8px;
  border-top-left-radius: 8px;
}

.carousel-card .content {
  background-color: rgb(236, 236, 236);
  margin: 0 auto;
  width: 90%;
  padding: 16px;
  position: relative;
  bottom: 1.5em;
  border-radius: 4px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1), 
            0 8px 15px rgba(0, 0, 0, 0.1), 
            0 12px 20px rgba(0, 0, 0, 0.15), 
            0 18px 30px rgba(0, 0, 0, 0.2), 
            0 25px 40px rgba(0, 0, 0, 0.3);

}

.carousel-card h3 {
  font-size: 1.1em;
  margin-bottom: 6px;
}

.carousel-card p {
  font-size: 0.75em;
}

/* Infinite scrolling animation */
@keyframes scroll {
  0% {
      transform: translateX(0);
  }
  100% {
      transform: translateX(-100%);
  }
}

/* Features Section */
.features {
  padding: 50px 0;
  background-color: #f2f2f2;
  text-align: center;
}

.features h2 {
  font-size: 2.5rem;
  margin-bottom: 30px;
}

.feature-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 20px;
}

.feature-item {
  background: white;
  border-radius: 10px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
  padding: 20px;
  flex: 1 1 200px;
  max-width: 300px;
}

.feature-item h3 {
  font-size: 1.5rem;
  margin-bottom: 10px;
}

.feature-item p {
  font-size: 1rem;
}

.reasons {
  position: relative;
  padding: 50px;
  background-color: white;
  background-size: cover;
  background-position: 0 70%;
  color: white;
}

.section-header {
  text-align: center;
  margin-bottom: 30px;
  font-size: 2em;
}

.section-header h2 {
  position: relative;
  z-index: 2;
  text-align: center;
  padding: 1rem;
  font-weight: bold;
  font-size: 1em;
  letter-spacing: 3px;
  text-transform: uppercase;
  color: #f06292;
}

.card-container {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}

.reason-card {
  min-width: 250px;
  max-width: 330px;
  height: 400px;
  padding: 20px;
  border: 1px solid white;
  border-radius: 10px;
  color: white;
  background: url('ugovor.png');
  background-size: cover;
  background-position: 0 40%;
  z-index: 2;
  line-height: 1.6;
  position: relative;
}

.reason-card h3 {
  margin-bottom: 10px;
  font-size: 1em;
  color: #f06292;
  font-weight: bold;
  font-size: 1em;
  letter-spacing: 3px;
  text-transform: uppercase;
}

.reason-card p {
  font-size: 1em;
}

.reason-card img {
  width: 200px;
  position: absolute;
  bottom: 0;
  right: 0;
}
#reasons-2 {
  padding: 50px;
  background-color: #f9f9f9;
}

.section-header-2 {
  text-align: center;
  margin-bottom: 30px;
  font-size: 2em;
}

.card-container-2 {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 20px;
}

.reason-card-2 {
  background-color: rgb(212, 212, 212);
  padding: 20px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  border-radius: 10px;
}

.reason-card-2 h3 {
  margin-bottom: 10px;
  font-size: 2em;
}

.reason-card-2 p {
  font-size: 1em;
  color: #555;
}

#vehicles h2 {
  text-align: center;
  padding: 1rem;
  font-weight: bold;
  font-size: 2em;
  letter-spacing: 3px;
  text-transform: uppercase;
  color: #f06292;
}

#vehicles {
  margin: 6em auto 0;

}

#vehicles .cards {
  display: flex;
  justify-content: center;
  gap: 20px;
}

#vehicles .card {
  display: flex;
  flex-direction: column;
  background-color: white;
  color: #000;  
  width: 250px;
  border-radius: 8px;
  padding: 8px;
  text-align: center;
}

#vehicles .card h4 {
  font-size: 1em;
  text-align: center;

}
#vehicles .card img {
  width: 100%;
}

#vehicles .card button {
  background-color: rgba(51, 51, 51, 0.1);
  border-radius: 8px;
  border-width: 0;
  color: #333333;
  cursor: pointer;
  display: inline-block;
  font-family: Montserrat;
  font-size: 14px;
  font-weight: 500;
  line-height: 20px;
  list-style: none;
  margin: 2rem auto;
  padding: 10px 12px;
  text-align: center;
  transition: all 200ms;
  vertical-align: baseline;
  white-space: nowrap;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  width: 150px;
}

#vehicles .card button:hover {
  background-color: #f06292;
  color: white;
}
.conditions {
  text-align: center;
}

.longterm {
  background: rgb(0,0,0);
  background: linear-gradient(90deg, rgba(0,0,0,1) 0%, rgba(204,204,204,1) 50%, rgba(0,0,0,1) 100%);
  background-image: url('kodiaq.png');
  background-position: 0% 60%;
  height: 70vh;
  width: 90vw;
  background-size: cover;
  max-width: 1400px;
  margin: 0 auto;
  border-radius: 16px;
  padding: 2rem;
  color: white;
  font-weight: bold;
  font-size: 1.5em;
  letter-spacing: 3px;
  position: relative;
  top: 3em;
}

.longterm h2 {
  text-transform: uppercase;
  color: #f06292;
}

.longterm p {
  font-size: 1rem;
  letter-spacing: 0;
  font-weight: 400;
  width: 400px;
  margin-top: 1em;
  line-height: 1.6;
}

.longterm button {
  position: relative;
  top: 3em;
  font-family: Montserrat, sans-serif;
  margin-top: 1em;
  padding: 1em 2em;
  background-color: #f06292;
  border: none;
  color: black;
  font-weight: bold;
  letter-spacing: 1px;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
  width: fit-content;
  text-decoration: none;
}

.hotel-promo {
  background: url('lounge.jpg');
  background-position: 0% 60%;
  height: 50vh;
  background-size: cover;
  position: relative;
  padding: 2em 20em;
}

.hotel-promo::after {
  content: '';
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.20);
}

.hotel-promo span {
  color: #f06292;
  font-weight: bold;
}

.hotel-promo a {
  display: block;
  margin-top: 1em;
  padding: 1em 2em;
  background-color: #f06292;
  border: none;
  font-size: 0.85em;
  color: black;
  font-weight: bold;
  letter-spacing: 1px;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
  width: fit-content;
  text-decoration: none;
}

.scrolling {
  height: 50vh;
  background-color: black;
  color: white;
}

.hotel-promo h2, .hotel-promo p, .hotel-promo a {
  position: relative;
  color: white;
  z-index: 3;
}

.hotel-promo h2 {
  line-height: 1.6;
  letter-spacing: 1px;
}

#divider {
  position: relative;
  top: 6em;
}

.news {
  background-color: #202020;
}

.news-container {
  width: 100vw;
  margin: 0 auto;
  padding: 3rem;
  display: flex;
  justify-content: center;
  gap: 4em;
  color: white;
}

.news h2 {
  text-align: center;
  font-weight: bold;
  font-size: 2.5em;
  letter-spacing: 7px;
  text-transform: uppercase;
  color: #f06292;
  border-radius: 0.5em;
  display: block;
  width: fit-content;
  margin: 0 auto;
  padding-top: 1em;
}

.news h3 {
  color: white;
  font-weight: 400;
}

.news .headline {
  text-align: center;
}

.news-container .card {
  width: 450px;
}

.news-container .card img {
  width: 100%;
  height: 300px;
  object-fit: cover;
  display: block;
  margin-bottom: 1em;
  border-radius: 16px;
}

.news-container .content h3 {
  color: #f06292;
  letter-spacing: 1px;
  text-transform: uppercase;
  margin-bottom: 1em;
  margin-top: 2em;
}

.news-container a {
  display: block;
  margin-top: 1em;
  padding: 1em 2em;
  background-color: #f06292;
  border: none;
  font-size: 0.85em;
  color: black;
  font-weight: bold;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
  width: fit-content;
  text-decoration: none;
}

footer {
  background-color: black;
  color: white;
  padding: 2em;
  font-size: 0.8em;
}

footer .container {
  display: flex;
  justify-content: center;
}

footer h2 {
  color: #f06292;
}
footer .card {
  display: flex;
  gap: 2em;
  padding: 2em;
  border-right: 1px solid gray;
}

footer .card:last-child {
  border: none;
}

footer .card i {
  font-size: 2em;
}

footer .support {
  font-size: 0.75em;
}

footer .support hr {
  margin: 1em 0;
}

footer h3 {
  max-width: 250px;
}

footer .contact h2 {
  margin-bottom: 1em;
}

footer .contact h3 {
  margin-bottom: 1em;
}