@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

/* CSS Reset */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  transition: all 0.4s ease-in-out;
}

/* Dark Mode Toggle */
.dark-mode-toggle {
  display: flex;
  align-items: center;
  margin-left: 20px; /* Space between flag and switch */
}

.dark-mode-toggle input {
  display: none; /* Hide the checkbox */
}

.dark-mode-toggle label {
  cursor: pointer;
  font-size: 2rem; /* Icon size */
  transition: color 0.3s ease; /* Smooth transition for the icon color */
}

html {
  background-color: #f9f9f9;
}
body {
  font-family: Montserrat;
  min-height: 100vh; /* Ensure body covers at least full height */
  overflow-x: hidden;
  background-color: #f9f9f9;
}

body.dark {
  filter: invert(1) hue-rotate(180deg);
}

body.dark header img, body.dark .hero, body.dark img {
  filter: invert(1) hue-rotate(180deg); /* Inverts the effect back to normal */
}

/* Main Container */
.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 20px;
}

/* Header Styles */
header {
  background-color: #f8f8f8;
  width: 100vw; /* Make the background stretch to full width */
  padding: 0; /* Remove padding from the header itself */
  position: sticky;
  top: 0;
  z-index: 3;
}

/* Contact Details */
header .contact-details {
  background-color: #f06292;
  padding: 10px 0;
}

header .contact-details .container {
  display: flex;
  justify-content: flex-end; /* Right-align the contact details */
  font-size: 0.9rem;
  color: white;
}

header .contact-details .container div {
  margin-left: 20px;
}

/* Navigation */
header .nav {
  padding: 10px 0;
}

header .nav .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap; /* Allow wrapping for smaller screens */
}

header .nav .logo {
  font-weight: bold;
  font-size: 1.5rem;
}

header .nav ul {
  list-style: none;
  display: flex;
  flex-wrap: wrap; /* Allow wrapping for smaller screens */
}

header .nav ul li {
  margin-left: 20px;
}

header .nav ul li a {
  text-decoration: none;
  color: #333;
}

/* Language Picker and Dark Mode Toggle */
header .nav .settings {
  display: flex;
  align-items: center;
}

header .nav .lang-picker {
  margin-right: 20px; /* Space between the flag and toggle */
  width: 40px;
  height: 40px;
}

header .nav .lang-picker img {
  width: 100%;
  height: 100%;
  border-radius: 50%;
  object-fit: cover;
}

header .nav .dark-mode-toggle {
  display: flex;
  align-items: center;
  position: relative;
  top: 2px;
}

header .nav ul li a {
  text-decoration: none;
  color: #333;
  transition: color 0.3s ease; /* Smooth transition */
} 

header .nav ul li a:hover {
  color: #f06292; /* Matching the brand color */
}


/* Hero Section */
.hero {
  width: 100vw;
  min-height: 100vh; /* Adjust height if needed */
  background: url('bg.jpeg') center center/cover; /* Background image */
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  position: relative;
}

.hero::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5); /* Dark overlay */
  z-index: 1;
}

.hero-content {
  position: relative;
  z-index: 2;
  text-align: center;
  bottom: 13rem;
}

.hero h1 {
  font-size: 3rem;
  margin-bottom: 10px;
}

.hero p {
  font-size: 1.2rem;
  margin-bottom: 20px;
  opacity: 0;
}

.hero h1 {
  animation: fadeLeft 1s ease-in-out;
}

@keyframes fadeLeft {
  from {
    transform: translateX(-150%);
    opacity: 0;
  }
  to {
    transform: translateX(0);
    opacity: 1;
  }
}

.hero p {
  animation: fadeRight 1s ease-in-out 500ms forwards;
}

@keyframes fadeRight {
  from {
    transform: translateX(150%);
    opacity: 0;
  }
  to {
    transform: translateX(0);
    opacity: 1;
  }
}
/* Date-Time Picker Form */
.search-form {
  display: flex;
/*     flex-direction: column; /* Stack vertically on small screens */
  justify-content: center; /* Center the form */
  align-items: center; /* Center vertically */
  gap: 20px; /* Space between elements */
  position: relative;
  opacity: 0;
}

.search-form {
  animation: fadeBottom 1s ease-in-out 1s forwards;
}

@keyframes fadeBottom {
  from {
    transform: translateY(150%);
    opacity: 0;
  }
  to {
    transform: translateY(0);
    opacity: 1;
  }
}

.date-time-picker {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.date-time-picker label {
  margin-bottom: 5px;
  font-size: 1rem;
}

.date-time-picker input {
  padding: 10px;
  border-radius: 5px;
  border: none;
  font-size: 1rem;
  width: 200px; /* Set a fixed width */
}

.search-button {
  padding: 10px; /* Use padding to make it match the height of inputs */
  width: 150px; /* Set a width for the button */
  background-color: #f06292; /* Matching brand color */
  border: none;
  color: black;
  font-weight: bold;
  letter-spacing: 1px;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
  align-self: end;
  height: 3.1em;
}

.search-button:hover {
  background-color: #c2185b; /* Darker shade on hover */
}

/* Carousel Section */
.carousel {
  width: 100%;
  overflow: hidden; /* Hide overflow */
  background-color: #f9f9f9; /* Background color for the carousel */
  padding: 20px 0; /* Padding for top and bottom */
}

.carousel-container {
  display: flex; /* Align items in a row */
  animation: scroll 45s linear infinite; /* Infinite scrolling animation */
}

.carousel-container:hover {
  animation-play-state: paused;
}

.carousel-card {
  min-width: 400px; /* Minimum width of each card */
  margin: 0 20px; /* Margin between cards */
  text-align: center; /* Center align text */
  background-color: white; /* Card background color */
  border-radius: 8px; /* Rounded corners */
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1); /* Shadow effect */
  padding-bottom: 20px;
}

.carousel-card h3 {
  font-size: 1.5em;
  margin-bottom: 6px;
}

.carousel-card p {
  font-size: 1.2em;
}
.carousel-icon {
  width: 100%; /* Set a fixed width for icons */
  height: 250px;
  margin-bottom: 10px; /* Space between icon and heading */
  background-size: cover;
  border-radius: 8px;
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
}

/* Infinite scrolling animation */
@keyframes scroll {
  0% {
      transform: translateX(0);
  }
  100% {
      transform: translateX(-100%); /* Move left by half of the container to reveal the second set of cards */
  }
}

/* Features Section */
.features {
  padding: 50px 0; /* Add padding above and below */
  background-color: #f2f2f2; /* Light background for contrast */
  text-align: center; /* Center align text */
}

.features h2 {
  font-size: 2.5rem; /* Heading size */
  margin-bottom: 30px; /* Space below the heading */
}

.feature-list {
  display: flex; /* Use flexbox for layout */
  flex-wrap: wrap; /* Allow wrapping */
  justify-content: center; /* Center items */
  gap: 20px; /* Space between items */
}

.feature-item {
  background: white; /* Background for feature item */
  border-radius: 10px; /* Rounded corners */
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1); /* Shadow for depth */
  padding: 20px; /* Inner padding */
  flex: 1 1 200px; /* Responsive flex item */
  max-width: 300px; /* Limit max width */
}

.feature-item h3 {
  font-size: 1.5rem; /* Feature title size */
  margin-bottom: 10px; /* Space below the title */
}

.feature-item p {
  font-size: 1rem; /* Feature description size */
}

.reasons {
  padding: 50px;
  background-color: #e8e8e8;
}

.section-header {
  text-align: center;
  margin-bottom: 30px;
  font-size: 2em;
}

.card-container {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  gap: 20px;
}

.reason-card {
  flex: 1;
  min-width: 250px;
  max-width: 300px;
  background-color: #fff;
  padding: 20px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  border-radius: 10px;
}

.reason-card h3 {
  margin-bottom: 10px;
  font-size: 1.2em;
}

.reason-card p {
  font-size: 1em;
  color: #555;
}

#reasons-2 {
  padding: 50px;
  background-color: #f9f9f9;
}

.section-header-2 {
  text-align: center;
  margin-bottom: 30px;
  font-size: 2em;
}

.card-container-2 {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 20px;
}

.reason-card-2 {
  background-color: rgb(212, 212, 212);
  padding: 20px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  border-radius: 10px;
}

.reason-card-2 h3 {
  margin-bottom: 10px;
  font-size: 2em;
}

.reason-card-2 p {
  font-size: 1em;
  color: #555;
}

.how-it-works {
  padding: 50px;
  background-color: #f9f9f9;
  opacity: 0; /* Start hidden */
  transform: translateY(20px); /* Start slightly lower */
  transition: opacity 0.6s ease, transform 0.6s ease; /* Transition for smooth effect */
}

.section-header {
  text-align: center;
  margin-bottom: 30px;
}

.steps-container {
  display: flex;
  flex-direction: column; /* Stack steps vertically */
  align-items: center;    /* Center align items */
}

.step {
  max-width: 600px;       /* Limit width for better readability */
  background-color: #fff;
  padding: 20px;
  margin: 10px 0;        /* Space between steps */
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  border-radius: 10px;
  text-align: left;      /* Align text to the left */
  opacity: 0;            /* Start steps hidden */
  transform: translateY(150px); /* Start slightly lower */
  transition: opacity 2s ease, transform 2s ease; /* Transition for smooth effect */
}

.step.show {
  opacity: 1;            /* Fully visible */
  transform: translateY(0); /* Move to original position */
}